@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
  }
  html {
    overflow-x: hidden;
  }

    /* Add to your global CSS */
@media (max-width: 768px) {
  .timeline-card {
    perspective: 1000px;
  }
}
/* Custom classes for the flip card */
@layer utilities {
  .perspective {
    perspective: 1000px;
  }
  
  .backface-hidden {
    backface-visibility: hidden;
  }
  
  .transform-style-preserve-3d {
    transform-style: preserve-3d;
  }
}